extends ../layout

block head

block headerleft

block headerright

block content
	form
		div.ui-grid-a
			div.ui-block-a 
				h4 Grupp
			div.ui-block-b 
				h4 Status
			each light in lights
					div.ui-block-a 
						h4= light.Name 
					div.ui-block-b 
						select(data-role="slider", name=light.Id + "_status", id=light.Id + "_status")
							option(value="Off", if(light.Status) selected) Släckt
							option(value="On", if(!light.Status)) Tänd	
		div.align-center
			a.smallbutton(data-role="button", href="/light/timechannels", data-theme="c", data-inline="true", data-icon="grid") Tidkanaler
			a.smallbutton(data-role="button", href="/light/settings", data-theme="c", data-inline="true", data-icon="gear") Inställningar